<a href="https://colab.research.google.com/github/JavaUroz/ProyectoFinalPP/blob/main/Clases_Abstractas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Creamos la clase Vehiculo

class Vehiculo(object):
  def __init__(self):
    self.marca = None
    self.modelo = None
    self.version = None
    self.motor_combustible = None
    self.motor_potencia = None
    self.transmision = None

  def get_marca(self):
    return self.marca

  def get_modelo(self):
    return self.modelo
  
  def get_version(self):
    return self.version

  def __str__(self):
	  return "Informacion del vehiculo:\n1. Marca: {m}\n2. Modelo: {o}\n3. Version: {v}".format(
			m=self.get_marca(), o=self.get_modelo(), v=self.get_version())

In [13]:
class Sedan(Vehiculo):
  def __init__(self, marca, modelo, version, combustible, potencia, transmision):
    self.marca = marca
    self.modelo = modelo
    self.version = version
    self.motor_combustible = combustible
    self.motor_potencia = potencia
    self.transmision = transmision

In [3]:
class SUV(Vehiculo):
  def __init__(self, marca, modelo, version, combustible, potencia, transmision, traccion):
    self.marca = marca
    self.modelo = modelo
    self.version = version
    self.motor_combustible = combustible
    self.motor_potencia = potencia
    self.transmision = transmision
    self.traccion = traccion

  def get_traccion(self):
    return self.traccion

In [ ]:
class Utilitario(Vehiculo):
  def __init__(self, marca, modelo, version, combustible, potencia, transmision):
    self.marca = marca
    self.modelo = modelo
    self.version = version
    self.motor_combustible = combustible
    self.motor_potencia = potencia
    self.transmision = transmision

In [4]:
class Camioneta(Vehiculo):
  def __init__(self, marca, modelo, version, combustible, potencia, transmision, cabina, traccion):
    self.marca = marca
    self.modelo = modelo
    self.version = version
    self.motor_combustible = combustible
    self.motor_potencia = potencia
    self.transmision = transmision
    self.cabina = cabina
    self.traccion = traccion

  def get_traccion(self):
    return self.traccion

  def get_cabina(self):
    return self.cabina

In [5]:
import pandas as pd
data = pd.read_csv('DSS - Tablas de datos - Vehiculos.csv')
data.head()

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion,Potencia.1,Consumo,Seguridad,C,P,S
0,Volkswagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO,2,2,3
1,Volkswagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,2,2,3
2,Volkswagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2,ALTO,ALTO,MEDIO,3,3,2
3,Volkswagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4,ALTO,ALTO,MEDIO,3,3,2
4,Volkswagen,Taos,Comfortline 250TSI Tiptronic (150cv),SUV,Nafta,150,Automática,NaN,4x2,ALTO,ALTO,ALTO,3,3,3

In [6]:
elegido = data[data['Version'].isin(['1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.'])]
elegido

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion,Potencia.1,Consumo,Seguridad,C,P,S
0,Volkswagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO,2,2,3

In [11]:
auto1 = Sedan(elegido.Marca, elegido.Modelo, elegido.Version, elegido.Combustible, elegido.Potencia, elegido.Transmisión)

In [8]:
print(auto1)

Informacion del vehiculo:
1. Marca: 0    Volkswagen
Name: Marca, dtype: object
2. Modelo: 0    Polo
Name: Modelo, dtype: object
3. Version: 0    1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.
Name: Version, dtype: object

In [ ]:
elegido = data[data['Version'].isin(['2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17)'])]
elegido

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion
3,Volskwagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4

In [ ]:
camioneta1 = Camioneta(elegido.Marca, elegido.Modelo, elegido.Version, elegido.Combustible, elegido.Potencia, elegido.Transmisión, elegido.Cabina, elegido.Traccion)

In [ ]:
camioneta1.get_traccion()

3    4x4
Name: Traccion, dtype: object

In [ ]:
camioneta1.get_modelo()

3    Amarok
Name: Modelo, dtype: object