<a href="https://colab.research.google.com/github/JavaUroz/ProyectoFinalPP/blob/main/Matriz_de_decision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

In [23]:
# Creamos el dataset con las valoraciones
data = pd.DataFrame()
data['Agencia']=['Agencia 1', 'Agencia 2', 'Agencia 3']
data['Precio'] = [5,3,1]
data['Experiencia'] = [2,4,5]
data['Comunicación'] = [3,2,3]
data['Valoracion_Clientes'] = [3,5,4]

In [24]:
# Revisamos el dataframe
data.head()

     Agencia  Precio  Experiencia  Comunicación  Valoracion_Clientes
0  Agencia 1       5            2             3                    3
1  Agencia 2       3            4             2                    5
2  Agencia 3       1            5             3                    4

In [25]:
#Puntuamos los criterios
Precio = 4
Experiencia = 5
Comunicación = 2
Valoracion_Clientes = 3

In [26]:
# Creamos la función de la matriz de decisión

def matriz_decisión(dataframe, precio, experiencia, comunicacion, valoracion):
  dataframe['Puntuacion']=dataframe['Precio']*precio+dataframe['Experiencia']*experiencia+dataframe['Comunicación']*comunicacion+dataframe['Valoracion_Clientes']*valoracion
  return dataframe

In [27]:
ponderacion = matriz_decisión(data, Precio, Experiencia, Comunicación, Valoracion_Clientes)
ponderacion

,Agencia,Precio,Experiencia,Comunicación,Valoracion_Clientes,Puntuacion
0,Agencia 1,5,2,3,3,45
1,Agencia 2,3,4,2,5,51
2,Agencia 3,1,5,3,4,47

In [28]:
#Puntuamos los criterios en forma similar
Precio = 1 
Experiencia = 1
Comunicación = 1
Valoracion_Clientes = 1

In [29]:
ponderacion = matriz_decisión(data, Precio, Experiencia, Comunicación, Valoracion_Clientes)
ponderacion

,Agencia,Precio,Experiencia,Comunicación,Valoracion_Clientes,Puntuacion
0,Agencia 1,5,2,3,3,13
1,Agencia 2,3,4,2,5,14
2,Agencia 3,1,5,3,4,13

In [30]:
# Importamos la libreria para acceder a los archivos en Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [6]:
# Importamos los datos desde Drive
vehiculos = pd.read_csv('DSS - Tablas de datos - Vehiculos.csv')
vehiculos.head(3)

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion,Potencia.1,Consumo,Seguridad,C,P,S
0,Volkswagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO,2,2,3
1,Volkswagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,2,2,3
2,Volkswagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2,ALTO,ALTO,MEDIO,3,3,2

In [7]:
# Importamos las librerias para poder realizar el codificado de las etiquetas - Convertir variables categóricas a numéricas
import numpy as np
from sklearn import preprocessing

ModuleNotFoundError: No module named 'sklearn'

In [33]:
# Creamos el label encoder
le = preprocessing.LabelEncoder()

In [34]:
# Creamos un dataset alternativo para codificar.
encoded = vehiculos
encoded.head()

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion,Potencia.1,Consumo,Seguridad
0,Volskwagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO
1,Volskwagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2,MEDIO,MEDIO,ALTO
2,Volskwagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2,ALTO,ALTO,MEDIO
3,Volskwagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4,ALTO,ALTO,MEDIO
4,Volskwagen,Taos,Comfortline 250TSI Tiptronic (150cv),SUV,Nafta,150,Automática,NaN,4x2,ALTO,ALTO,ALTO

In [35]:
# Hacemos una primera prueba con la variable Potencia
encoded['C-Potencia']= le.fit_transform(encoded['Potencia.1'])
encoded.head()

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion,Potencia.1,Consumo,Seguridad,C-Potencia
0,Volskwagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO,2
1,Volskwagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,2
2,Volskwagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2,ALTO,ALTO,MEDIO,0
3,Volskwagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4,ALTO,ALTO,MEDIO,0
4,Volskwagen,Taos,Comfortline 250TSI Tiptronic (150cv),SUV,Nafta,150,Automática,NaN,4x2,ALTO,ALTO,ALTO,0

In [36]:
le.classes_

array(['ALTO', 'BAJO', 'MEDIO'], dtype=object)

In [37]:
# Modificamos las clases del encoder para que reflejen correctamente la variable ordinal
le.classes_ = np.array(['BAJO','MEDIO','ALTO'])

In [38]:
encoded['C-Potencia']= le.transform(encoded['Potencia.1'])
encoded['C-Consumo']= le.transform(encoded['Consumo'])
encoded['C-Seguridad']= le.transform(encoded['Seguridad'])
encoded.head(10)

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion,Potencia.1,Consumo,Seguridad,C-Potencia,C-Consumo,C-Seguridad
0,Volskwagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2
1,Volskwagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2
2,Volskwagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2,ALTO,ALTO,MEDIO,2,2,1
3,Volskwagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4,ALTO,ALTO,MEDIO,2,2,1
4,Volskwagen,Taos,Comfortline 250TSI Tiptronic (150cv),SUV,Nafta,150,Automática,NaN,4x2,ALTO,ALTO,ALTO,2,2,2
5,Ford,EcoSport KD,1.5 SE MT (123cv) (L18),SUV,Nafta,123,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2
6,Ford,Ranger,2.2 TDCi C/Doble 4x2 XL 6MT (125cv) (L20),Camioneta,Diesel,125,Manual,Doble,4x2,MEDIO,MEDIO,MEDIO,1,1,1
7,Ford,Ranger,2.2 TDCi C/Simple 4x2 XL 6MT (125cv) (L20),Camioneta,Diesel,125,Manual,Simple,4x2,MEDIO,MEDIO,MEDIO,1,1,1
8,Fiat,Mobi,1.0 Like (75cv),Sedan 5P,Nafta,75,Manual,NaN,4x2,BAJO,BAJO,BAJO,0,0,0
9,Fiat,Cronos,1.3 GSE CVT Presicion (99cv),Sedan 5P,Nafta,99,Automática,NaN,4x2,BAJO,BAJO,BAJO,0,0,0

In [39]:
# Creamos la función de la matriz de decisión
def matriz_decisión(dataframe, consumo, potencia,seguridad):
  dataframe['Puntuacion']=(dataframe['C-Consumo']*(1-consumo)+1)+(dataframe['C-Potencia']*potencia+1)+(dataframe['C-Seguridad']*seguridad)
  return dataframe

In [40]:
# Puntuamos los criterio para ponderar las preferencias
Consumo = 3
Potencia = 2
Seguridad = 5

In [41]:
ponderacion = matriz_decisión(encoded, Consumo, Potencia, Seguridad)
ponderacion

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion,Potencia.1,Consumo,Seguridad,C-Potencia,C-Consumo,C-Seguridad,Puntuacion
0,Volskwagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2,12
1,Volskwagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2,12
2,Volskwagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2,ALTO,ALTO,MEDIO,2,2,1,7
3,Volskwagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4,ALTO,ALTO,MEDIO,2,2,1,7
4,Volskwagen,Taos,Comfortline 250TSI Tiptronic (150cv),SUV,Nafta,150,Automática,NaN,4x2,ALTO,ALTO,ALTO,2,2,2,12
5,Ford,EcoSport KD,1.5 SE MT (123cv) (L18),SUV,Nafta,123,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2,12
6,Ford,Ranger,2.2 TDCi C/Doble 4x2 XL 6MT (125cv) (L20),Camioneta,Diesel,125,Manual,Doble,4x2,MEDIO,MEDIO,MEDIO,1,1,1,7
7,Ford,Ranger,2.2 TDCi C/Simple 4x2 XL 6MT (125cv) (L20),Camioneta,Diesel,125,Manual,Simple,4x2,MEDIO,MEDIO,MEDIO,1,1,1,7
8,Fiat,Mobi,1.0 Like (75cv),Sedan 5P,Nafta,75,Manual,NaN,4x2,BAJO,BAJO,BAJO,0,0,0,2
9,Fiat,Cronos,1.3 GSE CVT Presicion (99cv),Sedan 5P,Nafta,99,Automática,NaN,4x2,BAJO,BAJO,BAJO,0,0,0,2
10,Fiat,Pulse,1.0T Impetus CVT (130cv),Sedan 5P,Nafta,130,Automática,NaN,4x2,MEDIO,MEDIO,BAJO,1,1,0,2
11,Fiat,Toro,1.8 Freedom 4x2 AT6 Cab/Doble (130cv) (L21),Camioneta,Nafta,130,Automática,NaN,4x2,MEDIO,MEDIO,BAJO,1,1,0,2
12,Toyota,Corolla Cross,2.0 XEI CVT,SUV,Nafta,170,Automática,NaN,4x4,ALTO,ALTO,ALTO,2,2,2,12
13,Toyota,Corolla Cross,HEV 1.8 SEG eCVT,SUV,Híbrido,132,Automática,NaN,4x2,MEDIO,BAJO,ALTO,1,0,2,14
14,Toyota,Corolla,2.0 SEG CVT (170cv) (L20),Sedan 5P,Nafta,170,Automática,NaN,4x2,ALTO,ALTO,ALTO,2,2,2,12
15,Toyota,Etios,1.5 X 6MT (105cv) (L18) 4Ptas.,Sedan 5P,Nafta,105,Manual,NaN,4x2,MEDIO,MEDIO,MEDIO,1,1,1,7
16,Toyota,Hilux,4x2 CD DX 2.4 TDI 6MT (150cv) (L20),Camioneta,Diesel,150,Manual,Doble,4x2,ALTO,ALTO,ALTO,2,2,2,12
17,Toyota,Hilux,4x4 CD DX 2.4 TDI 6MT (150cv) (L20),Camioneta,Diesel,150,Manual,Doble,4x4,ALTO,ALTO,ALTO,2,2,2,12

In [42]:
# 
ponderacion.sort_values(by='Puntuacion', ascending=False)

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion,Potencia.1,Consumo,Seguridad,C-Potencia,C-Consumo,C-Seguridad,Puntuacion
13,Toyota,Corolla Cross,HEV 1.8 SEG eCVT,SUV,Híbrido,132,Automática,NaN,4x2,MEDIO,BAJO,ALTO,1,0,2,14
0,Volskwagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2,12
1,Volskwagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2,12
16,Toyota,Hilux,4x2 CD DX 2.4 TDI 6MT (150cv) (L20),Camioneta,Diesel,150,Manual,Doble,4x2,ALTO,ALTO,ALTO,2,2,2,12
14,Toyota,Corolla,2.0 SEG CVT (170cv) (L20),Sedan 5P,Nafta,170,Automática,NaN,4x2,ALTO,ALTO,ALTO,2,2,2,12
12,Toyota,Corolla Cross,2.0 XEI CVT,SUV,Nafta,170,Automática,NaN,4x4,ALTO,ALTO,ALTO,2,2,2,12
17,Toyota,Hilux,4x4 CD DX 2.4 TDI 6MT (150cv) (L20),Camioneta,Diesel,150,Manual,Doble,4x4,ALTO,ALTO,ALTO,2,2,2,12
5,Ford,EcoSport KD,1.5 SE MT (123cv) (L18),SUV,Nafta,123,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,1,1,2,12
4,Volskwagen,Taos,Comfortline 250TSI Tiptronic (150cv),SUV,Nafta,150,Automática,NaN,4x2,ALTO,ALTO,ALTO,2,2,2,12
7,Ford,Ranger,2.2 TDCi C/Simple 4x2 XL 6MT (125cv) (L20),Camioneta,Diesel,125,Manual,Simple,4x2,MEDIO,MEDIO,MEDIO,1,1,1,7
6,Ford,Ranger,2.2 TDCi C/Doble 4x2 XL 6MT (125cv) (L20),Camioneta,Diesel,125,Manual,Doble,4x2,MEDIO,MEDIO,MEDIO,1,1,1,7
3,Volskwagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4,ALTO,ALTO,MEDIO,2,2,1,7
15,Toyota,Etios,1.5 X 6MT (105cv) (L18) 4Ptas.,Sedan 5P,Nafta,105,Manual,NaN,4x2,MEDIO,MEDIO,MEDIO,1,1,1,7
2,Volskwagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2,ALTO,ALTO,MEDIO,2,2,1,7
8,Fiat,Mobi,1.0 Like (75cv),Sedan 5P,Nafta,75,Manual,NaN,4x2,BAJO,BAJO,BAJO,0,0,0,2
10,Fiat,Pulse,1.0T Impetus CVT (130cv),Sedan 5P,Nafta,130,Automática,NaN,4x2,MEDIO,MEDIO,BAJO,1,1,0,2
11,Fiat,Toro,1.8 Freedom 4x2 AT6 Cab/Doble (130cv) (L21),Camioneta,Nafta,130,Automática,NaN,4x2,MEDIO,MEDIO,BAJO,1,1,0,2
9,Fiat,Cronos,1.3 GSE CVT Presicion (99cv),Sedan 5P,Nafta,99,Automática,NaN,4x2,BAJO,BAJO,BAJO,0,0,0,2

In [43]:
encoded.to_csv('vehiculos.csv')