<a href="https://colab.research.google.com/github/JavaUroz/ProyectoFinalPP/blob/main/Modelo_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
# from google.colab import drive
# drive.mount('/content/drive')

In [23]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [37]:
# path = '/content/drive/MyDrive/Espacios curriculares vigentes/PRACTICAS PROFESIONALIZANTES  II-DS/Evaluaciones/Fuentes de datos/'
path = 'Fuentes de datos/'
# data = pd.read_csv(path+'DSS - Tablas de datos - Vehiculos.csv')
data_vehiculos = pd.read_excel(path + 'DSS - Tablas de datos.xlsx', 'Vehiculos')
data_precios = pd.read_excel(path + 'DSS - Tablas de datos.xlsx', 'Precios')
data_criterios = pd.read_excel(path + 'DSS - Tablas de datos.xlsx', 'Criterios')

c:\Users\Javier Uroz\.conda\envs\Streamlit\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [25]:
data_vehiculos.head()

,Marca,Modelo,Version,TipoVehiculo,Combustible,PotenciaCV,Transmisión,Cabina,Traccion,Potencia,Consumo,Seguridad,Confort,C,P,S,C.1
0,Volkswagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2,MEDIO,MEDIO,ALTO,MEDIO,2,2,3,2
1,Volkswagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2,MEDIO,MEDIO,ALTO,MEDIO,2,2,3,2
2,Volkswagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2,ALTO,ALTO,MEDIO,MEDIO,3,3,2,2
3,Volkswagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4,ALTO,ALTO,MEDIO,MEDIO,3,3,2,2
4,Volkswagen,Taos,Comfortline 250TSI Tiptronic (150cv),SUV,Nafta,150,Automática,NaN,4x2,ALTO,ALTO,ALTO,ALTO,3,3,3,3

In [38]:
data_criterios.head()

,Marca,Modelo,Version,Cilindrada(cc),Combustible,Potencia(CV),Consumo(Lt/100km),Traccion,Cabina,Transmisión,LinkMasInfo,Foto
0,Volkswagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,1600,Nafta,110,7.5,4x2,NaN,Automática,https://ar.motor1.com/reviews/476275/critica-v...,NaN
1,Volkswagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,1600,Nafta,110,7.5,4x2,NaN,Manual,https://www.blogdecoches.net/volkswagen/volksw...,NaN
2,Volkswagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),2000,Diesel,180,7.9,4x2,Doble,Automática,https://www.autocosmos.com.ar/catalogo/vigente...,NaN
3,Volkswagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),2000,Diesel,180,7.9,4x4,Doble,Automática,https://www.autocosmos.com.ar/catalogo/vigente...,NaN
4,Volkswagen,Taos,Comfortline 250TSI Tiptronic (150cv),2500,Nafta,150,7.5,4x2,NaN,Automática,https://www.volkswagen.com.ar/es/modelos/nuevo...,NaN

In [26]:
# Conexión con SQLAlchemy
database = 'DSS.db'
my_conn=create_engine('sqlite:///'+path+database)

In [27]:
# Conexión con sqlite3
#databaseB = 'DSS2.db'
#my_conn = sqlite3.connect(path+databaseB)

In [39]:
data_vehiculos.to_sql('autos',my_conn,if_exists='replace',index=False)
data_precios.to_sql('precios',my_conn,if_exists='replace',index=False)
data_criterios.to_sql('criterios',my_conn,if_exists='replace',index=False)

38

In [40]:
# Verificamos las tablas de la base de datos con la conexión SQLAlchemy
r_set=my_conn.execute('''select name from sqlite_master 
		where type = 'table' ''')
for row in r_set:
    print(row)

('autos',)
('precios',)
('criterios',)

In [30]:
# Consultamos los registros de la tabla 'autos'
r_set=my_conn.execute('''select * from autos ''')
for row in r_set:
    print(row)

('Volkswagen', 'Polo', '1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.', 'Sedan 5P', 'Nafta', 110, 'Automática', None, '4x2', 'MEDIO', 'MEDIO', 'ALTO', 'MEDIO', 2, 2, 3, 2)
('Volkswagen', 'Polo', '1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.', 'Sedan 5P', 'Nafta', 110, 'Manual', None, '4x2', 'MEDIO', 'MEDIO', 'ALTO', 'MEDIO', 2, 2, 3, 2)
('Volkswagen', 'Amarok', '2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17)', 'Camioneta', 'Diesel', 180, 'Automática', 'Doble', '4x2', 'ALTO', 'ALTO', 'MEDIO', 'MEDIO', 3, 3, 2, 2)
('Volkswagen', 'Amarok', '2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17)', 'Camioneta', 'Diesel', 180, 'Automática', 'Doble', '4x4', 'ALTO', 'ALTO', 'MEDIO', 'MEDIO', 3, 3, 2, 2)
('Volkswagen', 'Taos', 'Comfortline 250TSI Tiptronic (150cv)', 'SUV', 'Nafta', 150, 'Automática', None, '4x2', 'ALTO', 'ALTO', 'ALTO', 'ALTO', 3, 3, 3, 3)
('Ford', 'ECOSPORT', '1.5 Se 123cv 4x2 Manual', 'SUV', 'Nafta', 123, 'Manual', None, '4x2', 'MEDIO', 'MEDIO', 'ALTO', 'MEDIO', 2, 2, 3, 2)
('Ford', 'Ranger', '2.2 TDCi C/Doble 4x2 XL 6MT (125cv) (L20)', 'Camioneta', 'Diesel', 125, 'Manual', 'Doble', '4x2', 'MEDIO', 'MEDIO', 'MEDIO', 'MEDIO', 2, 2, 2, 2)
('Ford', 'Ranger', '2.2 TDCi C/Simple 4x2 XL 6MT (125cv) (L20)', 'Camioneta', 'Diesel', 125, 'Manual', 'Simple', '4x2', 'MEDIO', 'MEDIO', 'MEDIO', 'MEDIO', 2, 2, 2, 2)
('Fiat', 'Mobi', '1.0 Like (75cv)', 'Sedan 5P', 'Nafta', 75, 'Manual', None, '4x2', 'BAJO', 'BAJO', 'BAJO', 'MEDIO', 1, 1, 1, 2)
('Fiat', 'Cronos', '1.3 GSE CVT Presicion (99cv)', 'Sedan 5P', 'Nafta', 99, 'Automática', None, '4x2', 'BAJO', 'BAJO', 'BAJO', 'MEDIO', 1, 1, 1, 2)
('Fiat', 'Pulse', '1.0T Impetus CVT (130cv)', 'Sedan 5P', 'Nafta', 130, 'Automática', None, '4x2', 'MEDIO', 'MEDIO', 'BAJO', 'ALTO', 2, 2, 1, 3)
('Fiat', 'Toro', '1.8 Freedom 4x2 AT6 Cab/Doble (130cv) (L21)', 'Camioneta', 'Nafta', 130, 'Automática', 'Doble', '4x2', 'MEDIO', 'MEDIO', 'BAJO', 'ALTO', 2, 2, 1, 3)
('Toyota', 'Corolla Cross', '2.0 XEI CVT', 'SUV', 'Nafta', 170, 'Automática', None, '4x4', 'ALTO', 'ALTO', 'ALTO', 'ALTO', 3, 3, 3, 3)
('Toyota', 'Corolla Cross', 'HEV 1.8 SEG eCVT', 'SUV', 'Híbrido', 132, 'Automática', None, '4x2', 'MEDIO', 'BAJO', 'ALTO', 'MEDIO', 2, 1, 3, 2)
('Toyota', 'Corolla', '2.0 SEG CVT (170cv) (L20)', 'Sedan 5P', 'Nafta', 170, 'Automática', None, '4x2', 'ALTO', 'ALTO', 'ALTO', 'ALTO', 3, 3, 3, 3)
('Toyota', 'Etios', '1.5 X 6MT (105cv) (L18) 4Ptas.', 'Sedan 5P', 'Nafta', 105, 'Manual', None, '4x2', 'MEDIO', 'MEDIO', 'MEDIO', 'MEDIO', 2, 2, 2, 2)
('Toyota', 'Hilux', '4x2 CD DX 2.4 TDI 6MT (150cv) (L20)', 'Camioneta', 'Diesel', 150, 'Manual', 'Doble', '4x2', 'ALTO', 'ALTO', 'ALTO', 'MEDIO', 3, 3, 3, 2)
('Toyota', 'Hilux', '4x4 CD DX 2.4 TDI 6MT (150cv) (L20)', 'Camioneta', 'Diesel', 150, 'Manual', 'Doble', '4x4', 'ALTO', 'ALTO', 'ALTO', 'MEDIO', 3, 3, 3, 2)
('Renault', 'Sandero', 'Intens 1.6', 'Sedan 5P', 'Nafta', 115, 'Manual', None, '4x2', 'MEDIO', 'MEDIO', 'BAJO', 'MEDIO', 2, 2, 1, 2)
('Renault', 'Captur', '1.6 16v CVT Intens 1 tono (115cv)', 'SUV', 'Nafta', 115, 'Automática', None, '4x2', 'MEDIO', 'ALTO', 'MEDIO', 'ALTO', 2, 3, 2, 3)
('Renault', 'KANGOO II', 'KANGOO EX. 1.5 DCI CONFORT 5 AS L/18', 'Utilitario', 'Diesel', 89, 'Manual', None, '4x2', 'BAJO', 'BAJO', 'MEDIO', 'BAJO', 1, 1, 2, 1)
('Renault', 'ALASKAN', 'ALASKAN 2.3 TDI CONFORT 4X2', 'Camioneta', 'Diesel', 160, 'Manual', None, '4x2', 'ALTO', 'ALTO', 'ALTO', 'MEDIO', 3, 3, 3, 2)
('Renault', 'ALASKAN', 'ALASKAN 2.3 TDI ICONIC 4X4 AT', 'Camioneta', 'Diesel', 160, 'Automática', None, '4x4', 'ALTO', 'ALTO', 'ALTO', 'ALTO', 3, 3, 3, 3)
('Chevrolet', 'TRACKER', 'TRACKER 1.2 TURBO MT5', 'SUV', 'Nafta', 132, 'Manual', None, '4x2', 'MEDIO', 'BAJO', 'ALTO', 'MEDIO', 2, 1, 3, 2)
('Chevrolet', 'ONIX', 'ONIX 1.0T PLUS LTZ L/21', 'Sedan 5P', 'Nafta', 116, 'Automática', None, '4x2', 'MEDIO', 'BAJO', 'ALTO', 'MEDIO', 2, 1, 3, 2)
('Chevrolet', 'ONIX', 'ONIX 1.2 LS L/19', 'Sedan 5P', 'Nafta', 98, 'Manual', None, '4x2', 'BAJO', 'MEDIO', 'ALTO', 'MEDIO', 1, 2, 3, 2)
('Chevrolet', 'S10', '2.8 Ls Cd Tdci 200cv 4x2', 'Camioneta', 'Diesel', 200, 'Manual', 'Doble', '4x2', 'ALTO', 'ALTO', 'BAJO', 'MEDIO', 3, 3, 1, 2)
('Chevrolet', 'S10', '2.8 Lt Cd Tdci 200cv 4x4', 'Camioneta', 'Diesel', 200, 'Manual', 'Doble', '4x4', 'ALTO', 'ALTO', 'BAJO', 'MEDIO', 3, 3, 1, 2)
('Citroen', 'C5 AIRCROSS', 'C 5 1.6 THP AIRCROSS FEEL PACK', 'SUV', 'Nafta', 165, 'Automática', None, '4x2', 'ALTO', 'ALTO', 'ALTO', 'ALTO', 3, 3, 3, 3)
('Citroen', 'C4 CACTUS', 'C4 Cactus 1.6 Vti 115 Feel', 'SUV', 'Nafta', 110, 'Automática', None, '4x2', 'MEDIO', 'BAJO', 'ALTO', 'MEDIO', 2, 1, 3, 2)
('Citroen', 'JUMPER', 'JUMPER 2.2 HDI MINIBUS 17+1 L4 H2', 'Utilitario', 'Diesel', 115, 'Manual', None, '4x2', 'MEDIO', 'ALTO', 'ALTO', 'MEDIO', 2, 3, 3, 2)
('Jeep', 'RENEGADE', 'Sport MT5', 'SUV', 'Nafta', 130, 'Manual', None, '4x2', 'MEDIO', 'ALTO', 'MEDIO', 'MEDIO', 2, 3, 2, 2)
('Ram', '1500', 'RAM 1500 LARAMIE', 'Camioneta', 'Nafta', 395, 'Automática', 'Doble', '4x4', 'ALTO', 'ALTO', 'ALTO', 'ALTO', 3, 3, 3, 3)
('Peugeot', '208', '208 1.6 Active', 'Sedan 5P', 'Nafta', 115, 'Manual', None, '4x2', 'MEDIO', 'BAJO', 'ALTO', 'MEDIO', 2, 1, 3, 2)
('Peugeot', '208', '208 1.6 Allure', 'Sedan 5P', 'Nafta', 115, 'Manual', None, '4x2', 'MEDIO', 'BAJO', 'ALTO', 'MEDIO', 2, 1, 3, 2)
('Peugeot', '2008', '2008 1.6 FELINE TIPTRONIC L/22', 'SUV', 'Nafta', 115, 'Automática', None, '4x2', 'MEDIO', 'BAJO', 'ALTO', 'MEDIO', 2, 1, 3, 2)
('Peugeot', '3008', '3008 1.6 GT PACK TIPTRONIC L/21', 'SUV', 'Nafta', 165, 'Automática', None, '4x2', 'ALTO', 'BAJO', 'ALTO', 'ALTO', 3, 1, 3, 3)
('Peugeot', 'EXPERT', 'EXPERT 1.6 HDI PREMIUM', 'Utilitario', 'Diesel', 115, 'Manual', None, '4x2', 'MEDIO', 'MEDIO', 'MEDIO', 'MEDIO', 2, 2, 2, 2)

In [31]:
# Consultamos los registros de la tabla auto con la conexion sqlite3
#cur = my_conn.cursor()
#for row in cur.execute('SELECT * FROM autos'): 
#    print(row) 
#my_conn.close() 

#

In [32]:
precios = pd.read_csv(path+'DSS - Tablas de datos - Precios_Automatizado.csv')
precios.head()

                                            Version Moneda  Precio
0  1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.      $  4322.7
1     2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17)      $  7511.3
2     2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17)      $  8873.8
3              Comfortline 250TSI Tiptronic (150cv)      $  7421.5
4                           1.5 SE MT (123cv) (L18)      $  4088.0

In [33]:
precios.to_sql('precios',my_conn,if_exists='replace',index=False)

37

In [34]:
# Verificamos las tablas de la base de datos con la conexión SQLAlchemy
r_set=my_conn.execute('''select name from sqlite_master 
		where type = 'table' ''')
for row in r_set:
    print(row)

('autos',)
('precios',)

In [35]:
# Consultamos los registros de la tabla 'autos'
r_set=my_conn.execute('''select * from precios ''')
for row in r_set:
    print(row)

('1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.', '$', 4322.7)
('2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17)', '$', 7511.3)
('2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17)', '$', 8873.8)
('Comfortline 250TSI Tiptronic (150cv)', '$', 7421.5)
('1.5 SE MT (123cv) (L18)', '$', 4088.0)
('2.2 TDCi C/Doble 4x2 XL 6MT (125cv) (L20)', '$', 6383.0)
('2.2 TDCi C/Simple 4x2 XL 6MT (125cv) (L20)', '$', 6243.0)
('1.0 Like (75cv)', '$', 2742.5)
('1.3 GSE CVT Presicion (99cv)', '$', 3911.5)
('1.0T Impetus CVT (130cv)', '$', 4219.3)
('1.8 Freedom 4x2 AT6 Cab/Doble (130cv) (L21)', '$', 5653.6)
('2.0 XEI CVT', '$', 6622.0)
('HEV 1.8 SEG eCVT', '$', 7868.0)
('2.0 SEG CVT (170cv) (L20)', '$', 6251.0)
('1.5 X 6MT (105cv) (L18) 4Ptas.', '$', 2793.0)
('4x2 CD DX 2.4 TDI 6MT (150cv) (L20)', '$', 6097.0)
('4x4 CD DX 2.4 TDI 6MT (150cv) (L20)', '$', 7116.0)
('2.3T Iconic AT 4x4 (190cv)', '$', 10774.2)
('1.6 16v Intense', '$', 3900.0)
('KANGOO EX. 1.5 DCI CONFORT 5 AS L/18', '$', 4121.0)
('ALASKAN 2.3 TDI CONFORT 4X2', '$', 6373.0)
('ALASKAN 2.3 TDI ICONIC 4X4 AT', '$', 10444.0)
('TRACKER 1.2 TURBO MT5', '$', 6500.0)
('ONIX 1.0T PLUS LTZ L/21', '$', 3990.0)
('ONIX 1.2 LS L/19', '$', 4073.0)
('S10 2.8 Ls Cd Tdci 200cv 4x2', '$', 6999.0)
('S10 2.8 Lt Cd Tdci 200cv 4x4', '$', 10400.0)
('C5 1.6 THP AIRCROSS FEEL PACK', '$', 10275.0)
('C4 Cactus 1.6 Vti 115 Feel', '$', 5300.0)
('JUMPER 2.2 HDI MINIBUS 17+1 L4 H2', '$', 12900.0)
('Sport MT5', '$', 7256.0)
('RAM 1500 LARAMIE', '$', 18880.0)
('208 L/20 1.2 T GT', '$', 8984.0)
('208 L/20 1.6 ALLURE', '$', 5200.0)
('2008 1.6 FELINE TIPTRONIC L/22', '$', 6058.0)
('3008 1.6 GT PACK TIPTRONIC L/21', '$', 14490.0)
('EXPERT 1.6 HDI PREMIUM', '$', 8200.0)