<a href="https://colab.research.google.com/github/JavaUroz/ProyectoFinalPP/blob/main/Modelo_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [ ]:
path = '/content/drive/MyDrive/Espacios curriculares vigentes/PRACTICAS PROFESIONALIZANTES  II-DS/Evaluaciones/Fuentes de datos/'
data = pd.read_csv(path+'DSS - Tablas de datos - Vehiculos.csv')

In [ ]:
data.head()

,Marca,Modelo,Version,TipoVehiculo,Combustible,Potencia,Transmisión,Cabina,Traccion
0,Volskwagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Automática,NaN,4x2
1,Volskwagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,Sedan 5P,Nafta,110,Manual,NaN,4x2
2,Volskwagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x2
3,Volskwagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),Camioneta,Diesel,180,Automática,Doble,4x4
4,Volskwagen,Taos,Comfortline 250TSI Tiptronic (150cv),SUV,Nafta,150,Automática,NaN,4x2

In [ ]:
# Conexión con SQLAlchemy
database = 'DSS.db'
my_conn=create_engine('sqlite:///'+path+database)

In [ ]:
# Conexión con sqlite3
#databaseB = 'DSS2.db'
#my_conn = sqlite3.connect(path+databaseB)

In [ ]:
data.to_sql('autos',my_conn,if_exists='replace',index=False)

In [ ]:
# Verificamos las tablas de la base de datos con la conexión SQLAlchemy
r_set=my_conn.execute('''select name from sqlite_master 
		where type = 'table' ''')
for row in r_set:
    print(row)

('autos',)

In [ ]:
# Consultamos los registros de la tabla 'autos'
r_set=my_conn.execute('''select * from autos ''')
for row in r_set:
    print(row)

('Volskwagen', 'Polo', '1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.', 'Sedan 5P', 'Nafta', 110, 'Automática', None, '4x2')
('Volskwagen', 'Polo', '1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.', 'Sedan 5P', 'Nafta', 110, 'Manual', None, '4x2')
('Volskwagen', 'Amarok', '2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17)', 'Camioneta', 'Diesel', 180, 'Automática', 'Doble', '4x2')
('Volskwagen', 'Amarok', '2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17)', 'Camioneta', 'Diesel', 180, 'Automática', 'Doble', '4x4')
('Volskwagen', 'Taos', 'Comfortline 250TSI Tiptronic (150cv)', 'SUV', 'Nafta', 150, 'Automática', None, '4x2')

In [ ]:
# Consultamos los registros de la tabla auto con la conexion sqlite3
#cur = my_conn.cursor()
#for row in cur.execute('SELECT * FROM autos'): 
#    print(row) 
#my_conn.close() 

#

In [ ]:
precios = pd.read_csv(path+'DSS - Tablas de datos - Precios_Automatizado.csv')
precios

,Marca,Modelo,Versión,Moneda,0,-1,-2,-3,-4
0,Volskwagen,Polo,1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.,$,"4.322,70","3.439,80","3.221,10","3.007,60","2.799,30"
1,Volskwagen,Polo,1.6 MSi Trend MT (110cv) (L18) 5Ptas.,$,"3.377,50",-,-,-,-
2,Volskwagen,Polo,1.6 MSi Comfortline MT (110cv) (L18) 5Ptas.,$,-,"3.439,80","3.221,10","3.007,60","2.799,30"
3,Volskwagen,Amarok,2.0 TDI (180cv) 4x2 C/Doble Comfortline (L17),$,"7.511,30","6.076,90","5.707,60","5.346,90","4.994,80"
4,Volskwagen,Amarok,2.0 TDI (180cv) 4x4 C/Doble Comfortline (L17),$,"8.873,80","7.166,20","6.724,80","6.293,70","5.873,00"
5,Volskwagen,Taos,Comfortline 250TSI Tiptronic (150cv),$,"7.421,50","6.306,30",-,-,-

In [ ]:
tablaAnt = {'OKm':4,'1 año':5,'2 años':6}

antiguedad = 'OKm'

valor = precios.iloc[:,tablaAnt[antiguedad]]

valor

0    4.322,70
1    3.377,50
2           -
3    7.511,30
4    8.873,80
5    7.421,50
Name: 0, dtype: object

In [ ]:
version = '1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.'
valor = precios.iloc[:,tablaAnt[antiguedad]][precios['Versión']==version]
valor

0    4.322,70
Name: 0, dtype: object

In [ ]:
def calcula_valor(version, antiguedad):
  tablaAnt = {'OKm':4,'1 año':5,'2 años':6,'3 años':7,'4 años':8,'5 años':9}
  valor = precios.iloc[:,tablaAnt[antiguedad]][precios['Versión']==version]
  return valor

In [ ]:
valor = calcula_valor('1.6 MSi Trendline Tiptronic (110cv) (L18) 5Ptas.','4 años')
valor

0    2.799,30
Name: -4, dtype: object

In [ ]:
precios.to_sql('precios',my_conn,if_exists='replace',index=False)